// Responsiveness
$grid-float-breakpoint: 992px;
// Body
$body-bg: #ffffff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #7d7d7d;
$headings-font-family: "Raleway", sans-serif;
$headings-color: #333333;
$link-color: #666;
$link-hover-color: #666;
$headings-font-weight: bold;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: rgba(0,0,0,0.7);
$navbar-default-link-hover-color:rgba(255,255,255,0.7);

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


