/* Header */
.header-wrapper {
  background: #222 url('../images/header-bg.jpg') no-repeat 50% top;
  background-size: cover;
  @media (max-width: $screen-sm-min) {
    background-image: url('../images/header-bg-900.jpg');
  }
  @media (max-width: 400px) {
    background-image: url('../images/header-bg-700.jpg');
  }
}
header .navbar {
  margin-top: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
header .navbar .container-fluid {
  padding-bottom: 20px;
}
header .btn-nav{
  display: none;
  @media (max-width: $grid-float-breakpoint) {
    display: block;
    color: #000;
    background-color: #eee;
    border-radius: 8px;
  }
}
header .btn-nav .fa-bars {
  font-size: 3em;
  @media (max-width: 400px) {
    font-size: 2em;
  }
}
header .navbar-nav {
  > li > a {
    color: $navbar-default-link-color;
    font-weight: bold;
    border-radius: 3px;

    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-link-hover-bg;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: $navbar-default-link-active-color;
      background-color: $navbar-default-link-active-bg;
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    width: 100%;
    height: 72px;
    position: absolute;
    z-index: 10;
    transform: translate(-200%,0);
    transition: transform 0.3s ease;

    &.open {
      transform: translate(0,0);
    }

    &.open > li {
      background: rgba(50, 50, 50, 0.9);
    }
  }
}
header .navbar-brand {
  font-size: 2.5em;

  &,
  &:hover,
  &:focus {
    color: #fff;
  }
  @media (max-width: $screen-xs-min) {
    font-size: 1.5em;
  }
  @media (max-width: 400px) {
    padding-left: 0;
    font-size: 1.4em;
  }
}
.header-banner h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.header-banner h4 {
  color: rgba(255,255,255,0.7);
  margin-bottom: 30px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.header-banner a.btn {
  margin-right:10px;
  background-color: #fb2f3a;
  @media (max-width: 400px) {
      font-size:14px;
    width: 100%;
  }
}
.header-banner a.more-link {
  text-decoration: underline;
  color: #fff;
  @media (max-width: 400px) {
    padding: 1.5em;
  }
}

/*Features*/
.features {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 -3px 5px #555;
  padding:70px 0;
}
.h-line {
  background: #cfcfcf url('../images/h-line.jpg') repeat-x;
  max-height: 5px;
  position: relative;
  top: 55px;
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}
.icon {
  border-radius: 50px;
  border: 1px solid #adadad;
  box-shadow: inset 0px 0px 1px 2px #cfcfcf, inset 0 0 0px 5px #eee;
  background-color: #fff;
  padding: 24px;
}
.icon .fa {
  font-size: 50px;
}
.features .btn-primary {
  background-color: #9a9c9f;
}
/*Portfolios*/
.portfolios .row {
  padding-top:10px;
}
.portfolios .content img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolios, .other-info {
  padding:60px 0;
  border-bottom: 1px solid #ddd;
}
/*Other info*/
.other-info .testimonial-content img {
  padding-top: 20px;
  @media (max-width: $screen-md-min) {
    display: none;
  }
}
.other-info .testimonial-content blockquote {
  overflow: hidden;
  border: none;
  font-size: 1em;
  @media (max-width: $screen-md-min) {
    padding-left: 0;
  }
}
.other-info ul {
  margin-top: 20px;
}
.other-info ul li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.other-info ul li:last-of-type {
  border: none;
}
.tweet-list img {
  margin-right: 10px;
}
/* Footer*/
footer {
  margin: 60px 0;
}
footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #666;
}
.social-links a {
  font-weight: bold;
  margin: 10px;
}

.social-links, .copyright {
  margin: 20px auto;
}